<body>
	<h1>Main Page</h1>
	{{#message}}
		<span style='color:red'>{{message}}</span><br><br>
	{{/message}}
	<input type="button" value="Login/Captcha Challenge"
	 onclick="window.location.href='./generateToken'" />
</body>
