<body>
	<h1>{{title}}</h1>
	<input type="button" value="Login"
	 onclick="window.location.href='./generateToken'" />
	 <input type="button" value="Validate"
	 onclick="window.location.href='/ajax/validateToken'" />
</body>