<body>
	<h1>Page 1</h1>
	<h3>{{token}}</h3>
	<h3>Current Time : {{currentTime}}</h3>
	<h3>Expires At : {{expiresAt}}</h3>
	<input type="button" value="Navigate to Page 2"
	 onclick="window.location.href='/ajax/page2'" />
</body>